
.navigation {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5;
  padding-bottom: 0.5;
}

.navigation .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation .container a {
  display: flex;
  align-items: center;
  color: var(--text1);
}

.navigation .container span {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  white-space: nowrap;
  align-self: center;
}


@media (min-width: 768px) {

  .navigation {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {

  .navigation .container .themeSwitcher {
    font-size: 1.5rem;
    display: flex;
    text-align: center;

  }


  .navigation .container a {
    font-size: 1.4rem;
  }


}
